@import "tailwindcss";

/* semantic color variables for this project */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #333333;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
    --color-background: var(--vt-c-white);
    --color-stroke: var(--vt-c-black-soft);
    --color-text: var(--vt-c-text-light-1);
    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-stroke: var(--vt-c-white-soft);
        --color-text: var(--vt-c-text-dark-2);
    }
}

body {
    touch-action: manipulation;
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
            color 0.5s,
            background-color 0.5s;
    line-height: 1.6;
    font-family:
            Inter,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg.menu {
    stroke: var(--color-stroke);
}

button, img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app {
  max-width: 480px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  position: relative;
}
